@import "tailwindcss";

@layer base {
    body {
        @apply bg-[#020617] text-white min-h-screen;
        background-image: radial-gradient(circle at 50% 50%, rgba(249, 115, 22, 0.08) 0%, transparent 50%);
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
    }
}