@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: radial-gradient(circle at 50% 50%, rgba(249, 115, 22, 0.08) 0%, transparent 50%);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}